EID-Weighing.json
[
    {
        "id": "75c5343d1031cd5b",
        "type": "subflow",
        "name": "ICBF Oauth2",
        "info": "",
        "category": "ICBF",
        "in": [
            {
                "x": 240,
                "y": 160,
                "wires": [
                    {
                        "id": "4779e3fadc6a530c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1140,
                "y": 160,
                "wires": [
                    {
                        "id": "fdd42383f3e529a5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red-contrib-oauth2/oauth2.svg"
    },
    {
        "id": "fdd42383f3e529a5",
        "type": "function",
        "z": "75c5343d1031cd5b",
        "name": "Save OAuth Tokens",
        "func": "if (msg.payload.access_token) {\n    var ICBFtoken = msg.payload.access_token;\n    var ICBFrefresh = msg.payload.refresh_token;\n    global.set('ICBFtoken', ICBFtoken);\n    global.set('ICBFrefresh', ICBFrefresh);\n    Time = new Date()\n    msg.payload = \"ICBF Access Granted \" + Time;\n    \n} else {\n    msg.payload = \"ICBF Authorization error.\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b5d2caf738cccf03",
        "type": "function",
        "z": "75c5343d1031cd5b",
        "name": "Refresh Token",
        "func": "var ICBFrefresh = global.get('ICBFrefresh');\n\nmsg.payload ={\n            \"grant_type\": \"refresh_token\",\n            \"client_id\": msg.client,\n            \"client_secret\": msg.secret,\n            \"refresh_token\": ICBFrefresh\n        }\n\nmsg.headers = {};\nmsg.headers['Accept'] = \"application/json\";\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Cache-Control'] = 'no-cache';\n\nmsg.method = \"POST\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "9a87b218468119ca"
            ]
        ]
    },
    {
        "id": "9a87b218468119ca",
        "type": "http request",
        "z": "75c5343d1031cd5b",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.dev-icbf.com/oauth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 160,
        "wires": [
            [
                "fdd42383f3e529a5",
                "87223a4cdf1eebd6"
            ]
        ]
    },
    {
        "id": "4779e3fadc6a530c",
        "type": "credentials",
        "z": "75c5343d1031cd5b",
        "name": "",
        "props": [
            {
                "value": "client",
                "type": "msg"
            },
            {
                "value": "secret",
                "type": "msg"
            }
        ],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "b5d2caf738cccf03"
            ]
        ]
    },
    {
        "id": "87223a4cdf1eebd6",
        "type": "debug",
        "z": "75c5343d1031cd5b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 60,
        "wires": []
    },
    {
        "id": "7dc49beefc960324",
        "type": "subflow",
        "name": "farmOS Oauth2V2",
        "info": "Oauth2 Authentication Node for farmOS",
        "category": "farmOS V2",
        "in": [
            {
                "x": 60,
                "y": 260,
                "wires": [
                    {
                        "id": "245a48e8730cdf4b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1230,
                "y": 260,
                "wires": [
                    {
                        "id": "9b59fe476f516b38",
                        "port": 0
                    }
                ]
            },
            {
                "x": 950,
                "y": 120,
                "wires": [
                    {
                        "id": "28c0771b4b0833b9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "grant",
                "type": "str",
                "value": "client",
                "ui": {
                    "icon": "font-awesome/fa-id-card-o",
                    "label": {
                        "en-US": "Grant Type"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "authorization code"
                                },
                                "v": "code"
                            },
                            {
                                "l": {
                                    "en-US": "client credentials"
                                },
                                "v": "client"
                            },
                            {
                                "l": {
                                    "en-US": "password"
                                },
                                "v": "password"
                            }
                        ]
                    }
                }
            },
            {
                "name": "scope",
                "type": "str",
                "value": "farm_worker",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Manager"
                                },
                                "v": "farm_manager"
                            },
                            {
                                "l": {
                                    "en-US": "Viewer"
                                },
                                "v": "farm_viewer"
                            },
                            {
                                "l": {
                                    "en-US": "Worker"
                                },
                                "v": "farm_worker"
                            }
                        ]
                    }
                }
            },
            {
                "name": "url",
                "type": "cred"
            },
            {
                "name": "redirect",
                "type": "cred"
            },
            {
                "name": "client",
                "type": "cred"
            },
            {
                "name": "secret",
                "type": "cred"
            },
            {
                "name": "username",
                "type": "cred"
            },
            {
                "name": "password",
                "type": "cred"
            }
        ],
        "meta": {},
        "color": "#C7E9C0",
        "outputLabels": [
            "Debug",
            "Autherization Code URL"
        ],
        "icon": "node-red-contrib-oauth2/oauth2.svg"
    },
    {
        "id": "3457d8031de8cd42",
        "type": "function",
        "z": "7dc49beefc960324",
        "name": "authorization_code",
        "func": "var farmOSurl = env.get('url');\nglobal.set('farmOSurl', farmOSurl);\n\nvar client = env.get('client');\nvar redirect = env.get('redirect');\nvar secret = env.get('secret');\nvar scope = env.get('scope');\n\nmsg.payload ={\n        \"grant_type\": \"authorization_code\",\n            \"client_id\": client,\n            \"code\": msg.payload.code,\n            \"state\": msg.payload.state,\n            \"redirect_uri\": redirect,\n            \"client_secret\": secret,\n            \"scope\": scope\n        }\n\nmsg.headers = {};\nmsg.headers['Accept'] = \"application/json\";\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded';\n\nmsg.method = \"POST\";\nmsg.url = env.get('url') + \"/oauth/token\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "40a71fd2da425e1a"
            ]
        ]
    },
    {
        "id": "40a71fd2da425e1a",
        "type": "http request",
        "z": "7dc49beefc960324",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 260,
        "wires": [
            [
                "0e766f373744777e"
            ]
        ]
    },
    {
        "id": "4fad059381b91f7d",
        "type": "function",
        "z": "7dc49beefc960324",
        "name": "client_credentials",
        "func": "var farmOSurl = env.get('url');\nglobal.set('farmOSurl', farmOSurl);\n\nvar client = env.get('client');\nvar secret = env.get('secret');\nvar scope = env.get('scope');\n\nmsg.payload = {\n    \"grant_type\": \"client_credentials\",\n                \"client_id\": client,\n                \"client_secret\": secret,\n                \"scope\": scope\n}\n\nmsg.headers = {};\nmsg.headers['Accept'] = \"application/json\";\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded';\n\nmsg.method = \"POST\";\nmsg.url = env.get('url') + \"/oauth/token\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "40a71fd2da425e1a"
            ]
        ]
    },
    {
        "id": "245a48e8730cdf4b",
        "type": "switch",
        "z": "7dc49beefc960324",
        "name": "",
        "property": "grant",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "code",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "password",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 3,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "187dc2e2714c9c4a"
            ],
            [
                "4fad059381b91f7d"
            ],
            [
                "333c7100ca0411e3"
            ]
        ]
    },
    {
        "id": "333c7100ca0411e3",
        "type": "function",
        "z": "7dc49beefc960324",
        "name": "password",
        "func": "var farmOSurl = env.get('url');\nglobal.set('farmOSurl', farmOSurl);\n\nvar client = env.get('client');\nvar scope = env.get('scope');\nvar username = env.get('username');\nvar password = env.get('password');\n\nmsg.payload = {\n    \"grant_type\": \"password\",\n    \"username\": username,\n    \"password\": password,\n    \"client_id\": client,\n    \"scope\": scope\n}\n\nmsg.headers = {};\nmsg.headers['Accept'] = \"application/json\";\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded';\n\nmsg.method = \"POST\";\nmsg.url = env.get('url') + \"/oauth/token\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "40a71fd2da425e1a"
            ]
        ]
    },
    {
        "id": "28c0771b4b0833b9",
        "type": "function",
        "z": "7dc49beefc960324",
        "name": "Generate  URL",
        "func": "msg.payload = env.get(\"url\") + \"/oauth/authorize?response_type=code&client_id=\" + env.get(\"client\") + \"&scope=\" + env.get(\"scope\") + \"&redirect_uri=\" + env.get(\"redirect\") + \"&state=p4W8P5f7gJCIDbC1Mv78zHhlpJOidy\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "187dc2e2714c9c4a",
        "type": "switch",
        "z": "7dc49beefc960324",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "url",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "code",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "28c0771b4b0833b9"
            ],
            [
                "3457d8031de8cd42"
            ]
        ]
    },
    {
        "id": "0e766f373744777e",
        "type": "function",
        "z": "7dc49beefc960324",
        "name": "Process tokens",
        "func": "var time;\nif (msg.payload.access_token) {\n    var token = msg.payload.access_token;\n    var refresh = msg.payload.refresh_token;\n    var expiry = Date.now() + (msg.payload.expires_in * 1000) - 120000;\n    global.set('farmos_token_expiry', expiry);\n    global.set('token', token);\n    global.set('farmos_refresh', refresh);\n    time = new Date();\n    msg.bearer = msg.payload;\n    msg.payload = \"last sync \" + time;\n} else {\n    msg.error = msg.payload;\n    msg.payload = msg.error.error;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 260,
        "wires": [
            [
                "9b59fe476f516b38"
            ]
        ]
    },
    {
        "id": "9b59fe476f516b38",
        "type": "change",
        "z": "7dc49beefc960324",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "method",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "285234eb0aa4b85e",
        "type": "tab",
        "label": "EID Weighing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74a7520baf841be2",
        "type": "group",
        "z": "285234eb0aa4b85e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a9861b535f962dca",
            "a6528dae2d41b1bf",
            "9d82735bb42a27f3",
            "6cbe40cf0102d6cd",
            "829c4af57b350f37",
            "90fab00a2f1fe6ab",
            "0e8aa13c04073447"
        ],
        "x": 94,
        "y": 799,
        "w": 692,
        "h": 162
    },
    {
        "id": "5a59d451e14fd513",
        "type": "group",
        "z": "285234eb0aa4b85e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bf1acf355cb196be",
            "648480b352b54061",
            "8d1dda1c3034b37f",
            "8cc35d8c8450fbb3",
            "e4aa7cd9b987c356"
        ],
        "x": 94,
        "y": 659,
        "w": 592,
        "h": 122
    },
    {
        "id": "c7f4bb43a2af6718",
        "type": "group",
        "z": "285234eb0aa4b85e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4b85e7a1b16a8992",
            "e1aacd9d64aa121e",
            "8f71aae6d3b9d72f",
            "81f74124b1103702",
            "16b0599db8c77e4d",
            "78a6093d5f5fca2a"
        ],
        "x": 934,
        "y": 719,
        "w": 552,
        "h": 242
    },
    {
        "id": "336f310860abdb13",
        "type": "group",
        "z": "285234eb0aa4b85e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e9e832806ae250a9",
            "257b7e3ab41738b0",
            "7e4716e20d7331b9",
            "2ce8d0d3f0bcaf08",
            "af24a7c1770f7e0b",
            "0219074d7be6601d"
        ],
        "x": 1174,
        "y": 359,
        "w": 332,
        "h": 262
    },
    {
        "id": "9194f196a11318ce",
        "type": "group",
        "z": "285234eb0aa4b85e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9f8ca554beb48cd4",
            "ae6ff69fbf4f70d4",
            "c087efe93dcceef0",
            "e99730dc9119d403",
            "2cfe5850b0ee0519",
            "22cc80a9929dc52c",
            "f8b2c4f0074c2c66",
            "4548629d97023643",
            "6d299375868f5cde",
            "13076df331e90668"
        ],
        "x": 494,
        "y": 399,
        "w": 592,
        "h": 202
    },
    {
        "id": "cb89b340434ef351",
        "type": "group",
        "z": "285234eb0aa4b85e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1e8543b5f0fdab2a",
            "fc63e9ada2fdc693",
            "ba304f426a041430",
            "b225284127277849"
        ],
        "x": 74,
        "y": 379,
        "w": 392,
        "h": 242
    },
    {
        "id": "8394ec32bbdbf833",
        "type": "group",
        "z": "285234eb0aa4b85e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "884819393163b2ad",
            "c33eae0225f92c7f",
            "3aa21fc3c0abc94b",
            "52857d65ca85efaf",
            "4c33944d3811041f",
            "1fb84b3f.99a1f5",
            "64835809fb91755f",
            "0bcd783b8e13111f"
        ],
        "x": 74,
        "y": 59,
        "w": 792,
        "h": 242
    },
    {
        "id": "97e23013936c4d14",
        "type": "group",
        "z": "285234eb0aa4b85e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0b88caabae16d7af",
            "8b736002fd9a5638",
            "68836a31b7de2456",
            "38a112307e57abdd",
            "0d8fe38e788a9997",
            "5b2764cd86db9e8b",
            "a2d1a3e26df58bc1",
            "ae948fa3c8742f15"
        ],
        "x": 114,
        "y": 1019,
        "w": 1112,
        "h": 142
    },
    {
        "id": "9f8ca554beb48cd4",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "Save Tag",
        "func": "flow.set(\"eid\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ae6ff69fbf4f70d4",
        "type": "ui_date_picker",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "",
        "label": "date",
        "group": "d6f1c80f56219869",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 790,
        "y": 440,
        "wires": [
            [
                "22cc80a9929dc52c"
            ]
        ]
    },
    {
        "id": "c087efe93dcceef0",
        "type": "ui_text_input",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "",
        "label": "Tag No.",
        "tooltip": "",
        "group": "d6f1c80f56219869",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 800,
        "y": 480,
        "wires": [
            [
                "9f8ca554beb48cd4"
            ]
        ]
    },
    {
        "id": "e99730dc9119d403",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "Save Weight",
        "func": "flow.set(\"weight\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "2cfe5850b0ee0519",
        "type": "ui_text_input",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "",
        "label": "Weight",
        "tooltip": "",
        "group": "d6f1c80f56219869",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 790,
        "y": 520,
        "wires": [
            [
                "e99730dc9119d403"
            ]
        ]
    },
    {
        "id": "22cc80a9929dc52c",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "Save Date",
        "func": "flow.set(\"date\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "4b85e7a1b16a8992",
        "type": "ui_table",
        "z": "285234eb0aa4b85e",
        "g": "c7f4bb43a2af6718",
        "group": "d6f1c80f56219869",
        "name": "",
        "order": 6,
        "width": "6",
        "height": "5",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1070,
        "y": 820,
        "wires": [
            [
                "16b0599db8c77e4d"
            ]
        ]
    },
    {
        "id": "f8b2c4f0074c2c66",
        "type": "ui_button",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "",
        "group": "d6f1c80f56219869",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save Weight",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 560,
        "wires": [
            [
                "4548629d97023643"
            ]
        ]
    },
    {
        "id": "4548629d97023643",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "Build Array",
        "func": "var array = flow.get('csv') || [];\nvar months = { 1: \"JAN\", 2: \"FEB\", 3: \"MAR\", 4: \"APR\", 5: \"MAY\", 6: \"JUN\", 7: \"JUL\", 8: \"AUG\", 9: \"SEP\", 10: \"OCT\", 11: \"NOV\", 12: \"DEC\" };\nvar Timestamp = flow.get(\"date\");\nvar eid = flow.get(\"eid\");\nvar weight = flow.get(\"weight\");\n\nTimestamp = new Date(Timestamp).toLocaleDateString('en-UK');\n\n//Time + Date formatting\nfunction padZero(i) {\n    return i < 10 ? \"0\" + i : i;\n}\nconst dateString = Timestamp;\nconst parts = dateString.split(\"/\");\nconst date = new Date(Number(parts[2]), Number(parts[1]) - 1, Number(parts[0]));\nconst newDateString = padZero(date.getDate()) + '-' + months[(date.getMonth() + 1)] + '-' + date.getFullYear().toString().substr(-2);\n\n//Check for existing weight and overwrite.\nvar i = 0;\narray.forEach(data => {\n    if (data.animal_id == eid ){        \ndelete array[i];\ni++;\narray = array.filter(function (e) {\n    return e !== undefined;\n});\n    }\n    \n});\n\narray.push({ weigh_date: newDateString, animal_id: eid, weight: weight });\nflow.set('csv', array);\n\nmsg.payload = array;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 560,
        "wires": [
            [
                "e1aacd9d64aa121e",
                "7e4716e20d7331b9"
            ]
        ]
    },
    {
        "id": "6d299375868f5cde",
        "type": "inject",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 440,
        "wires": [
            [
                "ae6ff69fbf4f70d4"
            ]
        ]
    },
    {
        "id": "e1aacd9d64aa121e",
        "type": "delay",
        "z": "285234eb0aa4b85e",
        "g": "c7f4bb43a2af6718",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1050,
        "y": 760,
        "wires": [
            [
                "4b85e7a1b16a8992"
            ]
        ]
    },
    {
        "id": "bf1acf355cb196be",
        "type": "change",
        "z": "285234eb0aa4b85e",
        "g": "5a59d451e14fd513",
        "name": "Clear table",
        "rules": [
            {
                "t": "delete",
                "p": "csv",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 740,
        "wires": [
            [
                "4b85e7a1b16a8992"
            ]
        ]
    },
    {
        "id": "648480b352b54061",
        "type": "ui_button",
        "z": "285234eb0aa4b85e",
        "g": "5a59d451e14fd513",
        "name": "",
        "group": "d6f1c80f56219869",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Clear all?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "8d1dda1c3034b37f"
            ]
        ]
    },
    {
        "id": "8d1dda1c3034b37f",
        "type": "ui_toast",
        "z": "285234eb0aa4b85e",
        "g": "5a59d451e14fd513",
        "position": "dialog",
        "displayTime": "0",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 310,
        "y": 740,
        "wires": [
            [
                "8cc35d8c8450fbb3"
            ]
        ]
    },
    {
        "id": "8cc35d8c8450fbb3",
        "type": "switch",
        "z": "285234eb0aa4b85e",
        "g": "5a59d451e14fd513",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 740,
        "wires": [
            [
                "bf1acf355cb196be"
            ]
        ]
    },
    {
        "id": "1e8543b5f0fdab2a",
        "type": "ui_toast",
        "z": "285234eb0aa4b85e",
        "g": "cb89b340434ef351",
        "position": "top right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "0b88caabae16d7af",
        "type": "ui_button",
        "z": "285234eb0aa4b85e",
        "g": "97e23013936c4d14",
        "name": "",
        "group": "d6f1c80f56219869",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Send to ICBF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Send all weights to ICBF?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 1120,
        "wires": [
            [
                "a2d1a3e26df58bc1"
            ]
        ]
    },
    {
        "id": "8f71aae6d3b9d72f",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "c7f4bb43a2af6718",
        "name": "Delete selected",
        "func": "var i = msg.row\nvar csv = flow.get(\"csv\");\n\nif (msg.payload == \"Delete\"){\ndelete csv[i]\ncsv = csv.filter(function (element) {\n    return element !== undefined;\n});\nflow.set(\"csv\", csv);\nmsg.payload = csv\nnode.send(msg);\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 880,
        "wires": [
            [
                "4b85e7a1b16a8992",
                "7e4716e20d7331b9"
            ]
        ]
    },
    {
        "id": "81f74124b1103702",
        "type": "ui_toast",
        "z": "285234eb0aa4b85e",
        "g": "c7f4bb43a2af6718",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Delete",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1390,
        "y": 920,
        "wires": [
            [
                "8f71aae6d3b9d72f"
            ]
        ]
    },
    {
        "id": "16b0599db8c77e4d",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "c7f4bb43a2af6718",
        "name": "Dialog Message",
        "func": "delete msg.topic;\nmsg.payload = \"Delete Entry?\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 920,
        "wires": [
            [
                "81f74124b1103702"
            ]
        ]
    },
    {
        "id": "e9e832806ae250a9",
        "type": "csv",
        "z": "285234eb0aa4b85e",
        "g": "336f310860abdb13",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1270,
        "y": 500,
        "wires": [
            [
                "257b7e3ab41738b0"
            ]
        ]
    },
    {
        "id": "257b7e3ab41738b0",
        "type": "file",
        "z": "285234eb0aa4b85e",
        "g": "336f310860abdb13",
        "name": "Save",
        "filename": "cattle_weight.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1270,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7e4716e20d7331b9",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "336f310860abdb13",
        "name": "Save CSV",
        "func": "msg.payload = flow.get(\"csv\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "af24a7c1770f7e0b"
            ]
        ]
    },
    {
        "id": "a9861b535f962dca",
        "type": "inject",
        "z": "285234eb0aa4b85e",
        "g": "74a7520baf841be2",
        "name": "Load",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 920,
        "wires": [
            [
                "829c4af57b350f37"
            ]
        ]
    },
    {
        "id": "a6528dae2d41b1bf",
        "type": "csv",
        "z": "285234eb0aa4b85e",
        "g": "74a7520baf841be2",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 550,
        "y": 840,
        "wires": [
            [
                "6cbe40cf0102d6cd"
            ]
        ]
    },
    {
        "id": "9d82735bb42a27f3",
        "type": "file in",
        "z": "285234eb0aa4b85e",
        "g": "74a7520baf841be2",
        "name": "Load CSV",
        "filename": "cattle_weight.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 840,
        "wires": [
            [
                "a6528dae2d41b1bf"
            ]
        ]
    },
    {
        "id": "6cbe40cf0102d6cd",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "74a7520baf841be2",
        "name": "Load CSV",
        "func": "flow.set('csv', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 840,
        "wires": [
            [
                "4b85e7a1b16a8992"
            ]
        ]
    },
    {
        "id": "2ce8d0d3f0bcaf08",
        "type": "file",
        "z": "285234eb0aa4b85e",
        "g": "336f310860abdb13",
        "name": "Delete",
        "filename": "cattle_weight.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 1430,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "af24a7c1770f7e0b",
        "type": "switch",
        "z": "285234eb0aa4b85e",
        "g": "336f310860abdb13",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1270,
        "y": 540,
        "wires": [
            [
                "e9e832806ae250a9"
            ],
            [
                "2ce8d0d3f0bcaf08"
            ]
        ]
    },
    {
        "id": "829c4af57b350f37",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "74a7520baf841be2",
        "name": "Check CSV exsits",
        "func": "const file = 'cattle_weight.csv';\n// Check if the file exists in the current directory.\nfs.access(file, fs.constants.F_OK, (err) => {\n    msg.payload = (`${err ? false : true}`);\n});\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 210,
        "y": 880,
        "wires": [
            [
                "90fab00a2f1fe6ab"
            ]
        ]
    },
    {
        "id": "90fab00a2f1fe6ab",
        "type": "switch",
        "z": "285234eb0aa4b85e",
        "g": "74a7520baf841be2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 840,
        "wires": [
            [
                "9d82735bb42a27f3"
            ]
        ]
    },
    {
        "id": "fc63e9ada2fdc693",
        "type": "comment",
        "z": "285234eb0aa4b85e",
        "g": "cb89b340434ef351",
        "name": "EID Tag Reader",
        "info": "",
        "x": 180,
        "y": 420,
        "wires": []
    },
    {
        "id": "13076df331e90668",
        "type": "comment",
        "z": "285234eb0aa4b85e",
        "g": "9194f196a11318ce",
        "name": "UI Input",
        "info": "",
        "x": 610,
        "y": 540,
        "wires": []
    },
    {
        "id": "0219074d7be6601d",
        "type": "comment",
        "z": "285234eb0aa4b85e",
        "g": "336f310860abdb13",
        "name": "Save to CSV",
        "info": "",
        "x": 1270,
        "y": 400,
        "wires": []
    },
    {
        "id": "0e8aa13c04073447",
        "type": "comment",
        "z": "285234eb0aa4b85e",
        "g": "74a7520baf841be2",
        "name": "Load existing CSV on App Start/restart",
        "info": "",
        "x": 610,
        "y": 920,
        "wires": []
    },
    {
        "id": "e4aa7cd9b987c356",
        "type": "comment",
        "z": "285234eb0aa4b85e",
        "g": "5a59d451e14fd513",
        "name": "Clear Table",
        "info": "",
        "x": 190,
        "y": 700,
        "wires": []
    },
    {
        "id": "78a6093d5f5fca2a",
        "type": "comment",
        "z": "285234eb0aa4b85e",
        "g": "c7f4bb43a2af6718",
        "name": "Table",
        "info": "",
        "x": 1010,
        "y": 920,
        "wires": []
    },
    {
        "id": "ba304f426a041430",
        "type": "serial in",
        "z": "285234eb0aa4b85e",
        "g": "cb89b340434ef351",
        "name": "",
        "serial": "84d503d3796c0a2f",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "b225284127277849"
            ]
        ]
    },
    {
        "id": "b225284127277849",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "cb89b340434ef351",
        "name": "Read Tag",
        "func": "var str = msg.payload;\n//msg.payload = null;\nstr = str.split(\" M \");\nif (str[1] != undefined) {\n    msg.payload = str[1].trim();\n    node.send(msg);\n}\nreturn ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 480,
        "wires": [
            [
                "1e8543b5f0fdab2a",
                "c087efe93dcceef0"
            ]
        ]
    },
    {
        "id": "1fb84b3f.99a1f5",
        "type": "ui_template",
        "z": "285234eb0aa4b85e",
        "g": "8394ec32bbdbf833",
        "group": "d6f1c80f56219869",
        "name": "Autocomplete",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<table>\n    <tr>\n        <td height=\"90\" width=\"220\"><md-autocomplete md-no-cache=\"true\" md-selected-item=\"selectedItem\" md-items=\"items in msg.options | filter:searchText\" md-select-on-match=\"true\"  md-search-text=\"searchText\" placeholder=\"{{msg.topic}}\" >\n        <span ng-bind=\"items\"></span></md-autocomplete></td>\n        <td><button style=\"text-align:center; height:40px;\" ng-click=\"msg.payload = selectedItem; send(msg)\">Select</button></td>\n    </tr>\n</table>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "c087efe93dcceef0"
            ]
        ]
    },
    {
        "id": "884819393163b2ad",
        "type": "subflow:7dc49beefc960324",
        "z": "285234eb0aa4b85e",
        "g": "8394ec32bbdbf833",
        "name": "",
        "env": [
            {
                "name": "grant",
                "value": "password",
                "type": "str"
            },
            {
                "name": "scope",
                "value": "farm_manager",
                "type": "str"
            },
            {
                "name": "url",
                "type": "cred"
            },
            {
                "name": "redirect",
                "type": "cred"
            },
            {
                "name": "client",
                "type": "cred"
            },
            {
                "name": "secret",
                "type": "cred"
            },
            {
                "name": "username",
                "type": "cred"
            },
            {
                "name": "password",
                "type": "cred"
            }
        ],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "3aa21fc3c0abc94b",
                "52857d65ca85efaf"
            ],
            []
        ]
    },
    {
        "id": "c33eae0225f92c7f",
        "type": "comment",
        "z": "285234eb0aa4b85e",
        "g": "8394ec32bbdbf833",
        "name": "Sync and search",
        "info": "",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "3aa21fc3c0abc94b",
        "type": "ui_toast",
        "z": "285234eb0aa4b85e",
        "g": "8394ec32bbdbf833",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "52857d65ca85efaf",
        "type": "sf:949541c9b70110d5",
        "z": "285234eb0aa4b85e",
        "g": "8394ec32bbdbf833",
        "name": "",
        "API": "asset/animal?filter[status]=active",
        "Method": "GET",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "4c33944d3811041f"
            ]
        ]
    },
    {
        "id": "4c33944d3811041f",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "8394ec32bbdbf833",
        "name": "function 3",
        "func": "var options = [];\nvar name;\nvar id;\nif (msg.payload.length != 0) {\n    msg.payload.data.forEach(data => {\n        data.attributes.id_tag.forEach(dat2 => {\n            id = dat2.id \n            options.push(id);\n        })\n    })\n}\nmsg.options = options;\nmsg.topic = \"Search Tags\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 200,
        "wires": [
            [
                "1fb84b3f.99a1f5",
                "44fc81bca331594d"
            ]
        ]
    },
    {
        "id": "64835809fb91755f",
        "type": "ui_ui_control",
        "z": "285234eb0aa4b85e",
        "g": "8394ec32bbdbf833",
        "name": "",
        "events": "connect",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "884819393163b2ad",
                "0bcd783b8e13111f"
            ]
        ]
    },
    {
        "id": "44fc81bca331594d",
        "type": "debug",
        "z": "285234eb0aa4b85e",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "0bcd783b8e13111f",
        "type": "subflow:75c5343d1031cd5b",
        "z": "285234eb0aa4b85e",
        "g": "8394ec32bbdbf833",
        "name": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "44fc81bca331594d"
            ]
        ]
    },
    {
        "id": "8b736002fd9a5638",
        "type": "function",
        "z": "285234eb0aa4b85e",
        "g": "97e23013936c4d14",
        "name": "POST ICBF Weights",
        "func": "var ICBFtoken = global.get('ICBFtoken');\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \" + ICBFtoken;\nmsg.headers['Accept'] = \"application/json\";\nmsg.headers['Cache-Control'] = 'no-cache';\n\nmsg.url = \"https://api.dev-icbf.com/v2/herd-weight/live-weight\";\nmsg.method = \"POST\";\n\n\n\nmsg.payload = flow.get(\"csv\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1120,
        "wires": [
            [
                "5b2764cd86db9e8b"
            ]
        ]
    },
    {
        "id": "3e52731dd1f21fa9",
        "type": "debug",
        "z": "285234eb0aa4b85e",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1120,
        "wires": []
    },
    {
        "id": "68836a31b7de2456",
        "type": "inject",
        "z": "285234eb0aa4b85e",
        "g": "97e23013936c4d14",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1080,
        "wires": [
            [
                "0b88caabae16d7af"
            ]
        ]
    },
    {
        "id": "38a112307e57abdd",
        "type": "comment",
        "z": "285234eb0aa4b85e",
        "g": "97e23013936c4d14",
        "name": "Send to ICBF",
        "info": "",
        "x": 650,
        "y": 1060,
        "wires": []
    },
    {
        "id": "0d8fe38e788a9997",
        "type": "http request",
        "z": "285234eb0aa4b85e",
        "d": true,
        "g": "97e23013936c4d14",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 1120,
        "wires": [
            [
                "3e52731dd1f21fa9"
            ]
        ]
    },
    {
        "id": "5b2764cd86db9e8b",
        "type": "switch",
        "z": "285234eb0aa4b85e",
        "g": "97e23013936c4d14",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 1120,
        "wires": [
            [
                "0d8fe38e788a9997"
            ]
        ]
    },
    {
        "id": "a2d1a3e26df58bc1",
        "type": "ui_toast",
        "z": "285234eb0aa4b85e",
        "g": "97e23013936c4d14",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Send to ICBF",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "ae948fa3c8742f15"
            ]
        ]
    },
    {
        "id": "ae948fa3c8742f15",
        "type": "switch",
        "z": "285234eb0aa4b85e",
        "g": "97e23013936c4d14",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Send to ICBF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "8b736002fd9a5638"
            ]
        ]
    },
    {
        "id": "d6f1c80f56219869",
        "type": "ui_group",
        "name": "Weigh",
        "tab": "4b3405bb66970db5",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84d503d3796c0a2f",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "15",
        "bin": "false",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4b3405bb66970db5",
        "type": "ui_tab",
        "name": "Weigh Animal",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
